@()(implicit environment: play.api.Environment)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("War Card Game") {

  <div id="messages">
    <p>
      Connection in progress...
    </p>
  </div>
  <div id="standby">
    <p>
      <button id="joinQueue">Join queue</button>
    </p>
  </div>
  <div id="inqueue">
    <p>
      <button id="leaveQueue">Leave queue</button>
    </p>
  </div>
  <div id="inprogress">
    <p>
      <button id="draw">Draw card</button>
    </p>
  </div>
}
