@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="@routes.Assets.versioned("images/playing-cards-144-170641.png")">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.versioned("images/playing-cards-152-170641.png")">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("images/playing-cards-144-170641.png")">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.versioned("images/playing-cards-120-170641.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("images/playing-cards-114-170641.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("images/playing-cards-72-170641.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.versioned("images/playing-cards-57-170641.png")">
        <link rel="icon" href="href="@routes.Assets.versioned("images/playing-cards-32-170641.png")" sizes="32x32">
        <script src="@routes.Assets.versioned("javascripts/game.js")" type="text/javascript"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
